.container {
  margin: auto;
  flex: 1 1 0%;
  font-family: sans-serif;
}

.header {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-left: 2rem;
}
.nav-link-text {
  color: rebeccapurple;
  font-weight: bolder;
  text-decoration: none;
}

.nav-owner-name {
  color: black;
  font-weight: bold;
}

.owner-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 1.17em;
  font-weight: bold;
}

.profession-span {
  margin-left: 10px;
  color: rebeccapurple;
}

.header-content {
  width: 90%;
  max-width: 1340px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 850px) {
  .profession-span {
    display: none;
  }

  .header-content {
    flex-direction: column;
  }
}

.content-section {
  position: relative;
  margin: 0px auto;
  padding: 0px 2rem 2rem;
  max-width: 1340px;
}
